@media only screen and (max-width: 860px) {
.web{
float:left;
width:50%;
background-color:#05386B;
opacity:.6;
color:white;
}
.grap{
float:left;
width:50%;
background-color:#FC4445;
opacity:.6;
color:white;
}
.grap1{
float:left;
width:50%;
background-color:#05386B;
opacity:.6;
color:white;
}
.grap2{
float:left;
width:50%;
background-color:#FC4445;
opacity:.6;
color:white;
}



}



@media only screen and (max-width: 432px) {
.web{
float:left;
width:100%;
background-color:#05386B;
opacity:.6;
color:white;
}
.grap{
float:left;
width:100%;
background-color:#FC4445;
opacity:.6;
color:white;
}
.grap1{
float:left;
width:100%;
background-color:#05386B;
opacity:.6;
color:white;
}
.grap2{
float:left;
width:100%;
background-color:#FC4445;
opacity:.6;
color:white;
}



}